<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NETWORKFAIL_REMIND</key>
	<string>Network not available. Please check your Wi-Fi networks.</string>
	<key>NODEVICE_REMIND</key>
	<string>Sorry, can&apos;t find any device, please make sure your device is turned on.</string>
	<key>RECONNECT_REMIND</key>
	<string>Failed to connect to device, attempting to reconnect ...</string>
	<key>MYFAV</key>
	<string>My Favorite</string>
	<key>ADDFAV</key>
	<string>Added to My Favorite</string>
	<key>DELFAV</key>
	<string>Remove from My Favorite</string>
	<key>EXISTINFAV</key>
	<string>Already exist in My Favorite</string>
	<key>OVERWRITEFAV_REMIND</key>
	<string>This preset is already exist, do you want to overwrite it?</string>
	<key>ENTERPW</key>
	<string>Please enter keyword.</string>
	<key>DEVICEUPDATE</key>
	<string>Device Software Update</string>
	<key>SWUPDATE</key>
	<string>Software Update</string>
	<key>SWUPDATING</key>
	<string>Software updating...</string>
	<key>LATESTVERSION_REMIND</key>
	<string>You already have the latest version.</string>
	<key>NEWVERSION_REMIND</key>
	<string>There is a newer version available. Would you like to update now ? </string>
	<key>UPDATEFAIL_REMIND</key>
	<string>Update failed.</string>
	<key>ABOUT</key>
	<string>About AirMusic Control App</string>
	<key>QUIT</key>
	<string>Quit</string>
	<key>RESCAN</key>
	<string>Rescan Device</string>
	<key>APP_DECRIPTION</key>
	<string>AirMusic Control App is easy-to-use internet radio controller.</string>
	<key>APP_DETAIL_1</key>
	<string>AirMusic Control App is designed to control internet radio device using Magic platform.
It provides you easy and comfortable operation with Android device. 

*In order to improve its usability, please update your radio to the latest version.
*For Wi-Fi only.</string>
	<key>APP_DETAIL_2</key>
	<string>It provides you easy and comfortable operation with Android device. </string>
	<key>APP_DETAIL_3</key>
	<string>*In order to improve its usability, please update your radio to the latest version.</string>
	<key>APP_DETAIL_4</key>
	<string>*For Wi-Fi only.</string>
	<key>RESET</key>
	<string>Reset</string>
	<key>CANCEL</key>
	<string>Cancel</string>
	<key>DELETE</key>
	<string>Delete</string>
	<key>PLAY</key>
	<string>Play</string>
	<key>RENAME_DEVICE</key>
	<string>Change Device Name</string>
	<key>WIFI_SET</key>
	<string>Wifi Setting</string>
	<key>DEVICE_NAME</key>
	<string>Device Name</string>
	<key>SCANING</key>
	<string>Scanning…</string>
	<key>WAIT</key>
	<string>Please wait…</string>
	<key>WIFI_ACCESS</key>
	<string>Wifi Access Point setting</string>
	<key>REMIND_1</key>
	<string>1. It may take up to 30 seconds to connect to network</string>
	<key>REMIND_2</key>
	<string>2. if success, the blue led is solid on, then you can start enjoying wifi music</string>
	<key>REMIND_3</key>
	<string>3. if failure, the red led is blinking, please re-configure again</string>
	<key>BUGFIXED</key>
	<string>Bug fixed.</string>
	<key>IMPROVE</key>
	<string>Stability improvements.</string>
	<key>SUPPORT_IOS</key>
	<string>Support IOS 7.1</string>
</dict>
</plist>
